{% extends 'main/layout.html' %}

{% block title %}
Контакты
{% endblock %}
<body>
{% block content %}
<h4>Контакты ООО «Еврофасадсервис»</h4>
<p>ООО «Еврофасадсервис»

    Адрес офиса: 220035, г. Минск, ул. Машиностроителей 13

    Телефоны:
    А1          +375 44 789-19-40
    МТС             +375 29 838-88-15

    E-mail: eurofasad@tut.by - отделение по окнам ПВХ

    E-mail: evrofasad@tut.by - отделение по алюминиевым конструкциям

    Время работы: Понедельник-Пятница: c 9:00 до 18:00; Суббота: c 9:00 до 13:00; Воскресенье: выходной.

    Регистрационные данные: УНП 190797364, ОКПО 377112915000.
    р/с BY21PJCB30120187741000000933 ОАО "Приорбанк", ЦБУ 114, г. Минск, пр. Партизанский 56/2 БИК PJCBBY2X
    Директор Алешко Юрий Викторович, действует на основании Устава.</p>
{% endblock %}
</body>
</html>
