{% extends 'main/layout.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="working slider">
	<div class="text-center h2 color-fl text-uppercase">Как мы работаем?</div>
	<div class="row" id="how_work_slider">
		<div class="col-xs-6 col-sm-1-5 text-center circled-item">
			<div class="assort">
				<span class="numbers">1. </span><img src="https://www.evrofasad.by/img/2411/Set_03_01.png" alt="Свяжитесь с нами" class="img-responsive round">
			</div>
			<p class="profile-info-act2">Связываетесь с нами удобным вам способом, узнаете ориентировочную стоимость</p>
            			<hr>
		</div>
		<div class="col-xs-6 col-sm-1-5 text-center circled-item">
			<div class="assort">
				<span class="numbers">2. </span><img src="https://www.evrofasad.by/img/2411/Set_03_02.png" alt="Выезд замерщика" class="img-responsive round">
			</div>
            <p class="profile-info-act2">К вам выезжает замерщик и оглашает окончательную стоимость</p>
			<hr>
		</div>
		<div class="col-xs-6 col-sm-1-5 text-center circled-item">
			<div class="assort">
				<span class="numbers">3.</span><img src="https://www.evrofasad.by/img/2411/Set_03_03.png" alt="Договор" class="img-responsive round">
			</div>
            <p class="profile-info-act2">Заключение договора по месту или на офисе</p>
			<hr>
		</div>
		<div class="col-xs-6 col-sm-1-5 text-center circled-item">
			<div class="assort">
				<span class="numbers">4.</span><img src="https://www.evrofasad.by/img/2411/Set_03_04.png" alt="Изготовление" class="img-responsive round">
			</div>
            	<p class="profile-info-act2">Изготовление изделия (3 дня)</p>
			<hr>
		</div>
		<div class="col-xs-6 col-sm-1-5 text-center circled-item">
			<div class="assort">
				<span class="numbers">5.</span><img src="https://www.evrofasad.by/img/2411/Set_03_05.png" alt="Установка" class="img-responsive round">
			</div>
            <p class="profile-info-act2">Установка с последующей отделкой откосов</p>
			<hr>
		</div>
	</div>
	<div class="prev"></div>
	<div class="next"></div>
</div>
{% endblock %}
