{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="header d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="https://www.evrofasad.by/new-sitetpl/img/logo.png" alt="">
    </a>
    <nav class="menu d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная страница</a>
        <div class="menu-item me-3 py-2 text-dark text-decoration-none ">
            О компании
            <div class="short_menu">
                <a href="/contact">Контакты</a>
                <a href="/payment">Способы оплаты</a>
            </div>
        </div>
        <div class="menu-item me-3 py-2 text-dark text-decoration-none">
            Алюминиевые конструкции
            <div class = 'short_menu'>
                <a href="/products/window">Окна из алюминия</a>
                <ul class="sub-menu">
                    <li id="menu-item-391" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-391"><a href="products/window/1">Окна W-62</a></li>
                    <li id="menu-item-392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392"><a href="products/window/2">Окна W-72</a></li>
                    <li id="menu-item-393" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393"><a href="products/window/3">Вентиляционная створка</a></li>
                </ul>
                <a href="/products/doors">Двери из алюминия</a>
                <a href="/products/fire_door">Противопожарные двери</a>
                <a href="/products/dym_door">Дымонепроницаемые двери</a>
                <a href="/products/patio">Наклонно-сдвижные системы PATIO</a>
                <a href="/products/sl">Подъёмно-сдвижные системы</a>
                <a href="/products/fasad">Фасадное остекление</a>
            </div>
        </div>
        <div class="menu-item me-3 py-2 text-dark text-decoration-none">
            Другая продукция
            <div class = 'short_menu'>
                <a href="/products/ms">Москитные сетки</a>
                <a href="/products/windowsill">Подоконники</a>
            </div>
        </div>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/products/callback">Обратный звонок</a>
    </nav>
</div>
{% block content %}{% endblock %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">©2005 - 2022<br>ООО"ЕвроФасадСервис"<br>Все права защищены</small>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/">Главная страница</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/contact">Контакты</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/payment">Способы оплаты</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/products/ms">Москитные сетки</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>8 (029) 838-88-15</h5>
            <h5>8 (044) 789-19-40</h5>
        </div>
        <div class="col-6 col-md">
            <h5>eurofasad@tut.by</h5>
            <h5>г. Минск,<br>ул. Машиностроителей, 15</h5>
            <h5>пн/вт/ср/чт/пт 9:00 - 18:00</h5>
        </div>
    </div>
</footer>
</body>
</html>