{% extends 'main/layout.html' %}

{% block title %}
Способы оплаты
{% endblock %}

{% block content %}
<h3>Способы оплаты</h3>
<h5>Вы можете сделать оплату любым удобным для Вас способом:</h5>
<h6>ЕРИП.<br>Через кассу в нашем офисе.<br>Через кассу в нашем офисе.<br>Кредитной картой.<br>Картой «Халва» (МТБанк).<br>
«Картой покупок» (Белгазпромбанк).<br>Через беспроцентную рассрочку.<br>Через рассрочку от «Баларусбанк».<br>В Интернет-банкинге.
В мобильном банкинге.<br>В инфокиоске..<br>В банкомате.</h6>
{% endblock %}